node_modules/
.next/
.vercel/
.firebase/

.env.local
scripts/serviceAccountKey.json

quran-api/
questions.json
scripts/questions.json

public/audio/reciters/
public/sw.js
public/workbox-*.js

*.log
tsconfig.tsbuildinfo
